$colors: (
	gray: (
		100: #f1f3f5,
		200: #333136,
		300: #1d1c1e
	),
	peach: (
		100: #ffad9b,
		200: #e7816b
	)
);

// FUNCTION
@function color($color, $tone: 1) {
	@return map-get(map-get($colors, $color), $tone);
}
