.homeHero {
	position: relative;
	background-color: color(peach, 200);
	height: 845px;
	isolation: isolate;
	overflow: hidden;

	@include from($tablet) {
		border-radius: 15px;
	}

	@include from($desktop) {
		height: unset;
	}

	svg {
		position: absolute;
		top: 50%;
		right: -267px;
		transform: translateY(-50%);
		z-index: -20;

		@include from($tablet) {
			right: -10%;
		}

		@include from($desktop) {
			right: 0;
		}
	}

	.inner {
		color: white;
		text-align: center;
		padding: 80px 24px;

		@include from($desktop) {
			display: flex;
			text-align: left;
			padding: 145px 95px;
		}

		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			margin: 0 auto;

			@include from($desktop) {
				align-items: flex-start;
				margin: 0;
			}

			h1 {
				max-width: 575px;
			}

			p {
				max-width: 445px;
			}
		}

		.image {
			position: absolute;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			max-width: 624px;
			height: 913px;
			margin: -100px auto 0;
			z-index: -10;

			@include from($desktop) {
				position: absolute;
				transform: translateX(0);
				margin: -160px 0 0;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
